{% extends 'base.html.twig' %}

{% set home_active = true %}

{% block title %}Tableau de bord{% endblock %}
{% block main_content %}

<div align="center">
    <h2>Bienvenue sur l’application de système de gestion d’alertes de votre école.</h2>

    <br><br>

    <h4>Actuellement, il n'y a aucun protocole actif.</h4>
    <br><br>

    <button class="btn btn-info btn-lg " ><a href="#" style="color: #ffffff"><i class="fa fa-cogs icon"></i>Exécuter un protocole</a></button>
</div>

{% endblock %}
